@font-face {
  font-family: 'ALS Hauss';
  src: url('../fonts/ALSHauss-Black.eot');
  src: local('ALS Hauss Black'), local('ALSHauss-Black'),
    url('../fonts/ALSHauss-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ALSHauss-Black.woff2') format('woff2'),
    url('../fonts/ALSHauss-Black.woff') format('woff'),
    url('../fonts/ALSHauss-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url('../fonts/ALSHauss-Bold.eot');
  src: local('ALS Hauss Bold'), local('ALSHauss-Bold'),
    url('../fonts/ALSHauss-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ALSHauss-Bold.woff2') format('woff2'),
    url('../fonts/ALSHauss-Bold.woff') format('woff'),
    url('../fonts/ALSHauss-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url('../fonts/ALSHauss-Regular.eot');
  src: local('ALS Hauss Regular'), local('ALSHauss-Regular'),
    url('../fonts/ALSHauss-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ALSHauss-Regular.woff2') format('woff2'),
    url('../fonts/ALSHauss-Regular.woff') format('woff'),
    url('../fonts/ALSHauss-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
