.reason {
  position: relative;
  padding: 142px 0 230px;
  overflow: hidden;
  //  background: url(../img/mozhno.svg);

  @include media-breakpoint-down(lg) {
    padding: 100px 0;
  }

  &:after {
    position: absolute;
    bottom: -50px;
    left: 0;
    display: block;
    width: 100%;
    height: 170px;
    content: '';
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }

  &__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0 -120px;
    display: flex;
    width: calc(100% + 240px);
    height: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  &__bg-item {
    margin: 0 5px;
    font-size: 32.37px;
    line-height: 1.17;
    font-weight: 900;
    color: rgba(#fff, .2);
  }

  &__header {
    margin-bottom: 92px;
    font-size: 96px;
    line-height: 1;
    font-weight: 900;
    color: #fff;

    @include media-breakpoint-down(lg) {
      margin-bottom: 50px;
      font-size: 60px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 40px;
    }
  }

  &__text {
    position: relative;
    padding: 87px 96px 104px 0;
    max-width: 1152px;
    color: #fff;

    @include media-breakpoint-down(lg) {
      padding: 40px;
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 100vw;
      height: 100%;
      content: '';
      background: #000;
    }
  }

  &__text-content {
    position: relative;
    z-index: 1;
  }

  &__text-shit {
    position: relative;
    color: #6d280b;

    &:after {
      position: absolute;
      top: 11px;
      left: 0;
      display: block;
      width: 100%;
      height: 20px;
      content: '';
      background: #6d280b;
      border-radius: 3px;

      @include media-breakpoint-down(md) {
        top: auto;
        bottom: 4px;
      }
    }

    &::selection {
      color: #6d280b;
    }
  }
}
