mixin reason(data)
  .reason&attributes(attributes)
    .reason__bg
      - for (var i = 0; i < 650; ++i) {
        .reason__bg-item можно
      - }
    .container-fluid
      .reason__header С чего мы решили, что «так можно» 
      .reason__text
        .reason__text-content
          p.text-white Мы как платформа развили вокруг себя огромную живую экосистему. Дети программируют нейросети ради поступления в вузы, зимними ночами беспилотные машины соревнуются за 100 000 000 ₽, нобелевские лауреаты участвуют в наших мероприятиях. 
