/* Bootstrap */

.container-fluid {
  padding: 0 120px;

  @include media-breakpoint-down(xl) {
    padding: 0 40px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 20px;
  }
}

.btn {
  padding: 35px 20px;
  width: 100%;
  font-size: 24px;
  line-height: 1;
  font-weight: 900;

  @include media-breakpoint-down(lg) {
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  @include media-breakpoint-down(sm) {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
  }

  &.btn--done {
    background: #000;
    border-color: #000;
  }

  &:focus,
  &:active {
    box-shadow: none;
  }
}
