.test {
  padding: 184px 0 225px;
  display: none;

  @include media-breakpoint-down(lg) {
    padding: 50px 0;
  }

  &__subheader {
    margin-bottom: 88px;
    font-size: 20px;
    line-height: 1.3;
    color: #bababa;

    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }
  }

  &__form {
    padding: 36px 48px 48px;
    background: #fff;

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
  }
}
