mixin test(data)
  .test&attributes(attributes)
    .container-fluid
      .test__subheader Мы записали ваш отклик. Погуглим и позвоним. Есть пара тестовых вопросов, можете не отвечать на них сейчас, тогда мы зададим их или похожие на личной встрече. 
      form.test__form(action="#", method="POST")
        .form__item
          label.form__label Вот 
            a(href="#") случайная новость 
            | с сайта. Вы знаете способ написать ее интересно? Покажите, пожалуйста, первый абзац. 
          textarea.input.input--textarea(name="field1")
        .form__item
          label.form__label Мы провели мероприятие «Тиражирование лучших практик социального развития», но лектор был — полная хрень, людей пришло мало, а у двух посетителей, кажется, что-то пропало в гардеробе. Напишите провокативный самотроллинговый пост для соцсетей.
          textarea.input.input--textarea(name="field2")
        button.btn.btn-primary.mt-30(type="submit") Сохранить
