
include ../blocks/wrapper/wrapper.pug
include ../blocks/front/front.pug
include ../blocks/task/task.pug
include ../blocks/reason/reason.pug
include ../blocks/requirements/requirements.pug
include ../blocks/form/form.pug
include ../blocks/callback/callback.pug
include ../blocks/test/test.pug
include ../blocks/input/input.pug