mixin requirements(data)
  .requirements&attributes(attributes)
    .container-fluid
      .requirements__header Вы — наш редактор
      ul.requirements__list
        li.requirements__item Полностью самостоятельны.
        li.requirements__item Готовы к вызовам вида «за полгода выйти на международку» или «сделать совместный проект с аналитическим агентством».
        li.requirements__item Знаете про скрам. Не будете делать сайт на битриксе. Но при этом не путаете “” и «», а дефисы с тире.
        li.requirements__item Живете в Москве или готовы переехать завтра и работать с нами в офисе. Офис, кстати, классный.
        li.requirements__item Наймете сотрудников и организуете их работу, но при этом классно пишете сами.
