.requirements {
  padding: 75px 0 216px;

  @include media-breakpoint-down(lg) {
    padding: 50px 0;
  }

  &__header {
    margin-bottom: 88px;
    padding-bottom: 8px;
    display: inline-flex;
    font-size: 64px;
    line-height: 1.28;
    font-weight: 900;
    color: #fff;
    border-bottom: 20px solid $primary;

    @include media-breakpoint-down(lg) {
      font-size: 40px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      font-size: 30px;
      border-bottom: 0;
    }
  }

  &__list {
    padding-left: 0;
    max-width: 956px;
  }

  &__item {
    display: flex;
    list-style: none;
    font-size: 40px;
    line-height: 1.28;
    color: #fff;

    @include media-breakpoint-down(lg) {
      font-size: 20px;
    }

    &:before {
      margin-top: 18px;
      margin-right: 20px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: $primary;
      border-radius: 50%;

      @include media-breakpoint-down(lg) {
        margin-top: 8px;
        margin-right: 10px;
        width: 8px;
        height: 8px;
      }
    }

    & + & {
      margin-top: 52px;

      @include media-breakpoint-down(lg) {
        margin-top: 20px;
      }
    }
  }
}
