.input {
  margin-bottom: 25px;
  padding-left: 40px;
  display: block;
  width: 100%;
  height: 100px;
  font-size: 36px;
  line-height: 1.38;
  font-weight: 700;
  color: #000;
  border: 4px solid #000;

  @include placeholder(#9e9e9e);

  &:focus {
    border-color: #000;
    outline: none;
    box-shadow: none;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 10px;
    padding-left: 20px;
    height: 60px;
    font-size: 20px;
    border-width: 2px;
  }

  @include media-breakpoint-down(sm) {
    font-weight: 400;
  }

  &--textarea {
    padding: 10px 25px;
    height: 370px;
    font-size: 26px;
    line-height: 1.28;

    @include media-breakpoint-down(lg) {
      height: 200px;
      font-size: 20px;
    }
  }
}
