.callback {
  padding: 164px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;

  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }

  &__form {
    width: 100%;
    max-width: 552px;

    @include media-breakpoint-down(lg) {
      max-width: 400px;
    }

    @include media-breakpoint-down(lg) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}
