mixin callback(data)
  .callback&attributes(attributes)
    form.form.callback__form(action="#", method="POST")
      input.input.form-control(type="text", placeholder="Представьтесь", name="username")
      input.input.form-control(type="text", placeholder=" Телефон", name="phone")
      button.btn.btn-primary.mt-10(type="submit") Хочу собрать боевую редакцию
