mixin task(data)
  .task&attributes(attributes)
    .container-fluid
      .task__content
        .task__header 
          .task__header-content В чем задача
        .task__text Превратить наши достижения (и неудачи!) в тексты, инфографику, исследования, рейтинги, мемы и датасеты, которые порвут Интернет, соберут десятки тысяч просмотров, войдут в тренды Твиттера. Добавить спецпроекты, виджеты и инфографику. Посолить. Через полгода повторить на английском языке.
