.task {
  position: relative;
  overflow: hidden;
  background: #fff;

  &__content {
    position: relative;
    padding: 223px 0 148px;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      padding: 50px 0;
    }
  }

  &__header {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 100px;
    line-height: 1;
    font-weight: 900;
    color: #bababa;
    align-self: flex-start;

    @include media-breakpoint-down(sm) {
      position: static;
      margin-bottom: 30px;
      font-size: 45px;
    }
  }

  &__header-content {
    position: absolute;
    display: flex;
    width: 1px;
    height: 1px;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    transform: rotate(-90deg);

    @include media-breakpoint-down(sm) {
      position: static;
      width: auto;
      height: auto;
      transform: none;
    }
  }

  &__text {
    margin-left: 360px;
    max-width: 768px;
    font-size: 28px;
    line-height: 1.6;
    color: #000;

    @include media-breakpoint-down(lg) {
      margin-left: 180px;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      font-size: 20px;
    }
  }
}
