mixin front(data)
  .front&attributes(attributes)
    .container-fluid
      .front__top
        .front__top-text
          span.front__top-text-content Нужен
        .front__cylinder
          .front__cylinder-content
            .front__cylinder-shadow-top
            .front__cylinder-item.front__cylinder-item--active эффективный
            .front__cylinder-item быстрый
            .front__cylinder-item дерзкий
            .front__cylinder-item командный
            .front__cylinder-item со связями
            .front__cylinder-item молодой
            .front__cylinder-item новый
            .front__cylinder-item опытный
        .front__top-text
          span.front__top-text-content главный редактор Платформы НТИ
          .front__top-arrow
    .front__header
      .front__header-title Что происходит? 
      .front__header-title Что происходит? 
      .front__header-title Что происходит? 
      .front__header-title Что происходит? 
      .front__header-title Что происходит? 
      .front__header-title Что происходит? 
      .front__header-title Что происходит? 
    .container-fluid
      .front__text-bottom
        p.text-white.mb-0 Мы полностью перезапускаем редакцию Платформы. У нас много причин это сделать, но рассказать о них нам запрещает генеральный директор.
        //img.front__text-gif(src="./img/simpsons.gif", alt="The Simpsons")
