.front {
  padding-top: 72px;
  padding-bottom: 272px;

  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }

  &__top {
    margin-bottom: 200px;
    padding-top: 92px;
    padding-bottom: 322px;
    display: flex;
    overflow: hidden;
    //    align-items: center;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      margin-bottom: 50px;
      padding: 0;
      padding-bottom: 0;
      flex-wrap: wrap;
    }
  }

  &__top-text {
  }

  &__top-text-content {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    color: #fff;

    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
  }

  &__cylinder {
    position: relative;
    margin: 0 20px;
    width: 246px;
    flex-shrink: 0;

    @include transition;

    @include media-breakpoint-down(sm) {
      width: 180px;
    }
  }

  &__cylinder-content {
    position: absolute;
    top: -1px;
    left: 0;

    @include media-breakpoint-down(sm) {
      top: -6px;
    }

    //    &:before {
    //      position: absolute;
    //      bottom: 388px;
    //      left: 0;
    //      display: block;
    //      width: 100%;
    //      height: 92px;
    //      content: '';
    //      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    //    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 322px;
      content: '';
      background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }
  }

  &__cylinder-item {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    color: #818181;

    @include media-breakpoint-down(lg) {
      visibility: hidden;
    }

    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }

    &--active {
      color: $primary;

      @include media-breakpoint-down(lg) {
        visibility: visible;
      }
    }

    //    &--transition {
    //      position: absolute;
    //    }
  }

  &__cylinder-shadow-top {
    position: absolute;
    top: -100px;
    //    bottom: 388px;
    left: 0;
    display: block;
    width: 100%;
    height: 92px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

    @include transition;
  }

  &__top-arrow {
  }

  &__header {
    margin-bottom: 100px;
    display: flex;

    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
    }
  }

  &__header-title {
    flex-shrink: 0;
    font-size: 132px;
    line-height: 1;
    font-weight: 900;
    color: $primary;

    @include media-breakpoint-down(md) {
      font-size: 80px;
    }
  }

  &__text-bottom {
    max-width: 744px;
  }

  &__text-gif {
    margin-top: 42px;
    max-width: 100%;
  }
}
