.form {

  &__item {
    margin-bottom: 60px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }
  }

  &__label {
    margin-bottom: 28px;
    font-size: 26px;
    line-height: 1.28;
    font-weight: 700;
    color: #000;

    @include media-breakpoint-down(lg) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
}
